html, body, #root, .App {
  height: 100%;
}

div.MuiDataGrid-cell.MuiDataGrid-cellLeft, div.MuiDataGrid-cell.MuiDataGrid-cellRight, div.MuiDataGrid-colCellTitle, div.MuiDataGrid-root.MuiDataGrid-colCellTitle	{
  text-overflow: initial;
  overflow: hidden;
}

 {

}

a {
  text-decoration: none;
}

.App {
  display: flex;
  flex-direction: column;
}

footer {
  flex-shrink: 0;
}

.App {
  text-align: center;
}

.mainBody {
  flex: 1 0 auto;
  margin-top: 70px; /* Add a top margin to avoid content overlay */
  margin-bottom: 30px;
}

.App-header {
  display: flex;
  justify-content: space-between;
  background-color: #2e2e2e;
  padding: 20px;
  font-size: 28px;
  align-items: center;
}

.App-header img {
  height: 45px;
}

.App p {
  margin-top: 5px;
}
